<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="@Url.ToHome()">Project name</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.ToHome()">Home</a></li>
                    <li><a href="@Url.ToAbout()">About</a></li>
                    <li><a href="@Url.ToContact()">Contact</a></li>
                    <li><a href="@Url.Action("Secure", "Home")">Auth Check</a></li>
                </ul>
                <ul class="nav pull-right">
                    @if (CurrentUserContext.IsAuthenticated)
                    {
                        <li><a href="#">@CurrentUserContext.Username</a></li>
                        <li><a href="@Url.ToLogOut()">Log Out</a></li>                        
                    }
                    else
                    {
                        <li><a id="logInLink" href="@Url.ToLogIn()" data-bind="click: getLogInForm">Log In</a></li>
                        <li><a href="@Url.ToSignUp()" data-bind="click: getSignUpForm">Sign Up</a></li>                        
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
